//
// Tooltip mixins
// --------------------------------------------------


// Tooltip sizes
@mixin tooltip-size($padding-vertical, $padding-horizontal, $height, $font-size, $border-radius, $tooltip-arrow-size) {
	&:before {
		border-width: $tooltip-arrow-size;
	}

	&:after {
		padding: $padding-vertical $padding-horizontal;
		font-size: $font-size;
		line-height: $font-size;
		border-radius: $border-radius;
		height: $height;
	}
}

// Tooltip variants
@mixin tooltip-variant($tooltip-bg, $tooltip-color) {
	@include tooltip-arrow-color($tooltip-bg);

	&:after {
		background-color: $tooltip-bg;
		color: $tooltip-color;
	}
}

// Generates border-color rules
@mixin tooltip-arrow-color($color) {
	@each $position in top, bottom, left, right {
		&.#{$position}:before {
			border-#{$position}-color: $color;
		}
	}
}

// Position for vertical tooltips
@mixin vertical-positioned-tooltip($property-y, $transition-direction, $tooltip-arrow-size) {
	&:before {
		margin-#{$property-y}: -2 * $tooltip-arrow-size;
	}

	&:after {
		margin-right: (-1 * (3 + $tooltip-arrow-size));
	}

	&:before, &:after {
		#{$property-y}: 100%;
		right: 50%;
	}

	&:hover, &:focus {
		@include set-margin('translateY', $transition-direction);
	}
}

// Position for horizontal tooltips
@mixin horizontal-positioned-tooltip($property-x, $transition-direction, $tooltip-arrow-size, $tooltip-height) {
	&:before {
		margin-#{$property-x}: -2 * $tooltip-arrow-size;
		margin-bottom: -1 * $tooltip-arrow-size;
	}

	&:after {
		margin-bottom: -1 * floor($tooltip-height / 2);
	}

	&:before, &:after {
		#{$property-x}: 100%;
		bottom: 50%;
	}

	&:hover, &:focus {
		@include set-margin('translateX', $transition-direction);
	}
}

// Set margin on tooltip using translate transform
@mixin set-margin($property, $transition-direction) {
	$value: unquote("#{$property}(#{8px * $transition-direction})");
	&:after, &:before {
		transform: $value;
	}
}
