//
// Dashboard app
// --------------------------------------------------


// Global (uiframework)
// -------------------------

@import "normalize";
@import "variables";
@import "mixins";
@import "components";
@import "scaffolding";
@import "helpers";


// App partials
// -------------------------

// Import OAuth specific rules
@import "authmaker/footer";
@import "authmaker/header";
@import "authmaker/password";
@import "authmaker/social";


.horizontal-seperator h4 {
   width: 100%;
   color: $grey-light;
   border-bottom: 1px solid $grey-light;
   line-height: 0.1em;

   span {
     background: #fff;
   }
}
