<div class="account col-sm-8 center-block">
  <form class="spacing-bottom6">
    {{validated-input labelKey='label.email' value=email hasError=(not validations.attrs.email.isTruelyValid) placeholder='your@email.address' name="email" id="email" type='email'}}
    {{validated-input labelKey='label.password' value=password hasError=(not validations.attrs.password.isTruelyValid) placeholder='supsersecretgremlin' name="password" id="password" type='password'}}
    <div>
      <button id="button-primary" class="btn pop blue large spacing-bottom2" {{action 'signIn'}}><span>{{t 'button.signIn'}}</span></button>
    </div>
  </form>
</div>
