<div class="account col-sm-8 center-block">
  <form class="spacing-bottom6">
    {{validated-input labelKey='label.email' value=email hasError=(not validations.attrs.email.isTruelyValid) placeholder='Email' name="email" id="email" type='email'}}
    <button id="button-primary" class="btn pop blue block" {{action 'resetPassword'}}><span>{{t 'button.reset'}}</span></button>
  </form>
</div>
