<div class="account col-xs-10 col-sm-5 center-block">
  <div class="passwordreset form-group">
    <label class="sr-only" for="email">Email</label>
    <input class="input-lg form-control large" id="email" type="email" name="email" placeholder="Email"/>
  </div>
  <input type="hidden" id="client_id" name="client_id" value="{{escaped_query.client_id}}">
  <input type="hidden" id="redirect_uri" name="redirect_uri" value="{{escaped_query.redirect_uri}}">
  <input type="hidden" id="scope" name="scope" value="{{escaped_query.scope}}">
  <div class="alertbox"></div>
  {{#if error}}
  <p id="autherror">{{error}}</p>
  {{/if}}
  <div class="spacing-top2">
    <a id="submit_form" href="javascript:void(0);" class="btn pop blue block"><span>Reset password</span></a>
  </div>
  <div class="text-center text-small spacing-top6">
    <a class="btn hollow" href="#">Sign in</a>
  </div>
</div>

<script type="text/javascript">

$(function(){
  function submit(){
    var email = $("#email").val();
    var client_id = $("#client_id").val();
    var redirect_uri = $("#redirect_uri").val();
    var scope = $("#scope").val();

    //send the post via ajax
    if(!validateExists(email, "Email is required", ".forgotPasswordError")) return false;

    $.ajax({
      type: "POST",
      url: "/reset_password",
      data: {
        email: email,
        client_id: client_id,
        redirect_uri: redirect_uri,
        scope: scope
      },
      success: function(msg) {
        showInfo("Reset email sent successfully, please check your inbox for more instructions.");
      },
      error: function(xhr, textStatus, errorThrown) {

        showError(xhr.responseText);
      }
    });
  }
  $('#submit_form').click(function(){
    submit();

  })

  $('#email').keypress(function(e){
    if(e.which == 13){
      submit();
    }
  });
})

</script>
