<div class="account col-xs-10 col-sm-8 center-block">
  <div class="frame">
    {{#if error}}
    <div class="pad2 text-center">
      <form class="account-form" role="form" action="/user/password" method="post">
        <h4>Oops! There has been an error!</h4>
        <p>{{message}}</p>
      {{else}}
      {{#unless thanks}}
        <div class="pad2 text-center">
          <h4>Welcome back!</h4>
          <p>All we need is your new password to keep everything nice and secure</p>
          <div class="spacing-top2">
            <div class="row">
              <div class="col-xs-6">
                <label class="sr-only" for="password">Password</label>
                <input class="input-lg form-control large" id="password" name="password" type="password" placeholder="New Password"/>
              </div>
              <div class="col-xs-6">
                <label class="sr-only" for="passwordConfirm">Confirm Password</label>
                <input class="input-lg form-control large" id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm Password"/>
              </div>
            </div>
          </div>
          <input type="hidden" name="userId" value="userId" />
          <input type="hidden" name="resetCode" value="code" />
          <input type="hidden" name="client_id" value="escaped_query.client_id">
          <input type="hidden" name="redirect_uri" value="escaped_query.redirect_uri">
          <input type="hidden" name="scope" value="escaped_query.scope">
          {{#if error}}
            <p id="autherror">{{error}}</p>
          {{/if}}
        </div>
      </form>
      <div class="frame-footer">
        <input {{#if app_settings.enable_GA}}onClick="_gaq.push(['_trackEvent', 'user', 'resetPassword', 'localauth.bloo.ie/reset_password',, false]);"{{/if}} type="submit" value="Go" class="btn pop blue block" />
      </div>
      {{else}}
      <div class="pad2 text-center">
        <h4>Password updated successfully!</h4>
        <p>You can now use your new password to login</p>
      </div>
      <div class="frame-footer">
        <a href="success_login" class="btn pop blue block">Sign in</a>
      </div>
      {{/unless}}
    {{/if}}
  </div>
</div>
