//
// Hide keyframes
// --------------------------------------------------


@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  
  100% {
    opacity: 0;
    transform: scale(.8);
  }
}
