<div class="account col-sm-8 center-block text-center">
  <form class="spacing-bottom6">
    <p>Password reset successfully requested. Please check your email for further instructions.</p>
  </form>
</div>
