<div class="blooie-notifications">
  {{#if error}}
    <div class="blooie-notification error pad1 center-block">
      <div class="icon text-center pull-left">
        <i class="fa fa-warning"></i>
      </div>
      <div class="content pull-left">
        {{{error}}}
      </div>
    </div>
  {{/if}}
</div>
