<div class="account col-xs-10 col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      <h4>Your account is now enabled!</h4>
      <p>You can now sign in with the e-mail and password you used when registering</p>
    </div>
    <div class="frame-footer">
      <a class="btn pop blue block" href="{{signin_url}}"><span>Sign in</span></a>
    </div>
  </div>
</div>
