<div class="route-messaging col-sm-8 center-block text-center spacing-bottom3">
  <h1>{{t "enabled.title"}}</h1>
</div>
<div class="account col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      <h4>{{t 'accountEnabled.title'}}</h4>
      <p>{{text-links (t 'accountEnabled.message')}}</p>
    </div>
  </div>
</div>
