<div class="icon text-center">
  <i class="fa fa-warning"></i>
</div>
<div class="content text-small">
  {{notification.message}}
</div>
{{#unless notification.autoClear}}
  <span class="close" {{action "removeNotification"}}>
    <i class="fa fa-times-circle"></i>
  </span>
{{/unless}}
