<div class="icon text-center">
  <i class="fa fa-warning"></i>
</div>
<div class="content text-small">
  {{notification.message}}
</div>
<span class="close" {{action "removeNotification"}}>
  <i class="fa fa-times-circle"></i>
</span>
