<div class="notifications-container">
    {{#each notification in notifications}}
        {{notification-message notification=notification}}
    {{/each}}
</div>
<div class="container">
  <div class="main spacing-bottom4">
    <header class="auth-header text-center pad-y4">
      <h1 class="spacing0">
        <a class="text-hide">Authmaker</a>
      </h1>
    </header>
    {{{outlet}}}
  </div>
  <footer class="auth-footer text-center text-small">
    <ul class="list-inline">
      {{#if privacyLink}}
        <li><a {{bindAttr href=privacyLink }}>Terms</a></li>
      {{/if}}

      {{#if termsLink}}
        <li><a {{bindAttr href=termsLink }}>Terms</a></li>
      {{/if}}
    </ul>
    <a href="http://authmaker.com">Simple authentication powered by AuthMaker</a>
  </footer>
</div>
