<div class="account col-xs-10 col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      <h4>{{error}}</h4>
      <p>{{t 'serverError.message'}}<p>
    </div>
  </div>
</div>
