<div class="account col-xs-10 col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      <h4>{{t 'accountDisabled.title'}}</h4>
      <p>{{t 'accountDisabled.message.one'}}</p>
      <p>{{t 'accountDisabled.message.two'}}</p>
    </div>
  </div>
  <div class="pad2 text-center">
    <button class="btn pop blue" {{action 'logOut'}}><span>LogOut</span></button>
  </div>
</div>
