<div class="account col-sm-8 center-block">
  <form class="spacing-bottom6">
    {{validated-input labelKey='label.password' value=password hasError=(not validations.attrs.password.isTruelyValid) placeholder='Password' name="password" id="password" type='password'}}
    {{validated-input labelKey='label.confirm.password' value=passwordConfirmation hasError=(not validations.attrs.passwordConfirmation.isTruelyValid) placeholder='Password Confirmation' name="passwordConfirmation" id="passwordConfirmation" type='password'}}
    <button id="button-primary" class="btn pop blue block" {{action 'resetPassword'}}><span>{{t 'button.reset'}}</span></button>
  </form>
</div>
