//
// Buttons
// --------------------------------------------------


$btn-font-weight:                bold !default;

$btn-default-color:              $neutral-dark !default;
$btn-default-bg:                 #f6f7f8 !default;
$btn-default-border:             #c8cfd5 !default;

$btn-blue-color:                 #fff !default;
$btn-blue-bg:                    $primary-blue !default;
$btn-blue-border:                $primary-blue-dark !default;

$btn-green-color:                #fff !default;
$btn-green-bg:                   $primary-green !default;
$btn-green-border:               $primary-green-dark !default;

$btn-red-color:                  #fff !default;
$btn-red-bg:                     $primary-red !default;
$btn-red-border:                 $primary-red-dark !default;

$btn-orange-color:               #fff !default;
$btn-orange-bg:                  $primary-orange !default;
$btn-orange-border:              $primary-orange-dark !default;

$btn-purple-color:               #fff !default;
$btn-purple-bg:                  $primary-purple !default;
$btn-purple-border:              $primary-purple-dark !default;

$btn-white-color:                $grey-darker !default;
$btn-white-bg:                   #fff !default;
$btn-white-border:               #fff !default;

$btn-link-disabled-color:        $grey-light !default;
