// Code

$code-color:                        #c7254e !default;
$code-bg:                           #f9f2f4 !default;

$pre-bg:                            $neutral-light !default;
$pre-color:                         $neutral-dark !default;
$pre-border-color:                  $neutral !default;
$pre-scrollable-max-height:         340px !default;
