//
// Modals
// --------------------------------------------------


// Modal content
// -------------------------

$modal-content-bg:            #fff !default;

// Padding applied to the modal body
$modal-inner-padding:         1.6rem 1.2rem !default;


// Modal backdrop
// -------------------------

// Modal backdrop background color
$modal-backdrop-bg:           #000 !default;

// Modal backdrop opacity
$modal-backdrop-opacity:      .65 !default;


// Sizing
// -------------------------

$modal-lg:                    740px !default;
$modal-md:                    560px !default;
$modal-sm:                    380px !default;
