// Scaffolding

$body-bg:               #fff !default;
$text-color:            $neutral-dark !default;
$link-color:            $primary-blue !default;
$link-hover-color:      darken($link-color, 15%) !default;
