// Tables

$table-cell-padding:                .8rem !default;
$table-condensed-cell-padding:      .4rem !default;

$table-bg:                          transparent !default;
$table-bg-accent:                   $neutral-light !default;
$table-bg-hover:                    #f5f5f5 !default;
$table-bg-active:                   $table-bg-hover !default;

$table-border-color:                $neutral-light !default;
