//
// Units
// --------------------------------------------------


// Padding
$padding-small-vertical:            .3rem !default;
$padding-small-horizontal:          1rem !default;
$padding-base-vertical:             .6rem !default;
$padding-base-horizontal:           1.2rem !default;
$padding-large-vertical:            1.1rem !default;
$padding-large-horizontal:          1.4rem !default;
$padding-xl-vertical:               1.2rem !default;
$padding-xl-horizontal:             1.6rem !default;

// Line height
$line-height-large:                 1.4 !default;
$line-height-small:                 1.8 !default;

// Border radius
$border-radius-small:               .2rem !default;
$border-radius-base:                .4rem !default;
$border-radius-large:               .6rem !default;
$border-radius-xlarge:              1.6rem !default;
