// z-index

$zindex-header:                     980 !default;
$zindex-arrow:                      981 !default;
$zindex-navbar:                     1000 !default;
$zindex-dropdown:                   1000 !default;
$zindex-popover:                    1010 !default;
$zindex-tooltip:                    1030 !default;
$zindex-navbar-fixed:               1030 !default;
$zindex-sidebar:                    1030 !default;
$zindex-modal-background:           1040 !default;
$zindex-modal:                      1050 !default;
